#define THUMBS       36           37             38           39           40
#define MIDDLE_ALPHA &mo QWE
#define MIDDLE_TRANS &trans
#define MIDDLE_QWE   &kp SQT
#define MIDDLE_MOUSE &mkp MB3
#define MIDDLE_SPC   &kp LALT

#define MIDDLE(NAME) &kp NAME

// Include main keymap
#include "../../../../keymap_30.dtsi"
