/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Define Offsets
#define LEADING_NONES NONE(0,0,0)
#define MIDDLE_NONES NONE(0,0,1)
#define TRAILING_NONES NONE(0,0,8)

#define LEFT_HALF 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 
#define RIGHT_HALF 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29
#define THUMBS    30 31 32 33

// Include main keymap
#include "../dk_keymap.dtsi"