/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// #define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
// #define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

#include <dt-bindings/zmk/pointing.h>

// // Tune-up default behaviours
// &mmv {
//     x-input-code = <INPUT_REL_X>;
//     y-input-code = <INPUT_REL_Y>;
//     time-to-max-speed-ms = <1200>;
//     acceleration-exponent = <1>;
// };
// &msc {
//     x-input-code = <INPUT_REL_HWHEEL>;
//     y-input-code = <INPUT_REL_WHEEL>;
//     time-to-max-speed-ms = <300>;
//     acceleration-exponent = <0>;
// };

// Keys
#define LEFT_HALF   0  1  2  3  4  5 12 13 14 15 16 17 24 25 26 27 28 29
#define RIGHT_HALF  6  7  8  9 10 11 18 19 20 21 22 23 30 31 32 33 34 35
#define THUMBS     36 37 38 39 40

// Layers
#define ENG 0 // Engram
#define RUL 1 // Rulemak
#define QWE 2 // Qwerty
#define EXT 3 // Extended
#define NAV 4 // Navigation
#define FUN 5 // Function
#define MYS 6 // Mice

#define A_RU F
#define B_RU COMMA
#define C_RU W
#define D_RU L
#define E_RU T
#define F_RU A
#define G_RU U
#define H_RU LBKT
#define I_RU B
#define J_RU Q    // ij
#define K_RU R
#define L_RU K
#define M_RU V
#define N_RU Y
#define O_RU J
#define P_RU G
#define Q_RU DOT  // yu
#define R_RU H
#define S_RU C
#define T_RU N
#define U_RU E
#define V_RU D
#define W_RU SEMI // zh
#define X_RU Z    // ya
#define Y_RU S
#define Z_RU P

#define CH_RU   X
#define SH_RU   I
#define SCH_RU  O
#define SOFT_RU M
#define HARD_RU RBKT
#define JO_RU   GRAVE
#define JE_RU   SQT

#define COMMA_RU    LS(FSLH)
#define DOT_RU      FSLH

// Bindings
#define _____ &none
#define SHFTSPC &rt LSHFT SPC
#define HYPER LA(LG(LCTRL)) 0

#define TAPPING_TERM    500  // tapping-term-ms = <300>;
#define QUICK_TAP_TERM  250  // tapping-term-ms = <300>;
#define COMBO_TIMEOUT_2  50  // timeout-ms for 2 fingers cofbos
#define COMBO_TIMEOUT_3  80  // timeout-ms for 3 fingers combos

#define hrlG(key) &lgui_en 0 key
#define hrrG(KEY) &rgui_en 0 KEY
#define hrlC(KEY) &lctl_en 0 KEY
#define hrrC(KEY) &rctl_en 0 KEY
#define hrlS(key) &lshft 0 key
#define hrrS(key) &rshft 0 key
#define hrlA(KEY) &lalt_en 0 KEY
#define hrrA(KEY) &ralt_en 0 KEY

#define MOD_MACRO(name, mod)                            \
name: name##_macro {                                    \
    compatible = "zmk,behavior-macro";              \
    #binding-cells = <0>;                           \
    wait-ms = <0>;                                  \
    bindings                                            \
        = <&macro_press &kp mod>                        \
        , <&macro_pause_for_release>                    \
        , <&macro_release &kp mod>;                     \
 };
#define HOME_ROW_MOD_TAP_LEFT(name, macro, flavortype)  \
name: name##_mod_tap_lefthand {                         \
    compatible = "zmk,behavior-hold-tap";               \
    #binding-cells = <2>;                               \
    flavor = #flavortype;                               \
    tapping-term-ms = <TAPPING_TERM>;                   \
    quick-tap-ms = <QUICK_TAP_TERM>;                    \
    bindings = <macro>, <&kp>;                          \
    hold-trigger-key-positions = < RIGHT_HALF THUMBS >; \
};
#define HOME_ROW_MOD_TAP_RIGHT(name, macro, flavortype) \
name: name##_mod_tap_righthand {                        \
    compatible = "zmk,behavior-hold-tap";               \
    #binding-cells = <2>;                               \
    flavor = #flavortype;                               \
    tapping-term-ms = <TAPPING_TERM>;                   \
    quick-tap-ms = <QUICK_TAP_TERM>;                    \
    bindings = <macro>, <&kp>;                          \
    hold-trigger-key-positions = < LEFT_HALF THUMBS >;  \
};

&sk {
    release-after-ms = <1500>;
    quick-release;
};
&lt {
    tapping-term-ms = <500>;
    quick-tap-ms = <200>;
    flavor = "balanced";
 };
&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    flavor = "balanced";
 };

/ {
combos { compatible = "zmk,combos";
    lock         { bindings = <&kp LG(LC(Q))>; key-positions = < 11 23 35 >; timeout-ms = < COMBO_TIMEOUT_2 >; };

    left_escape  { bindings = <&kp ESC>; key-positions = <2 3>; timeout-ms = < COMBO_TIMEOUT_2 >; };
    right_escape { bindings = <&kp ESC>; key-positions = <8 9>; timeout-ms = < COMBO_TIMEOUT_2 >; };
    left_enter   { bindings = <&kp ENTER>; key-positions = <26 27>; timeout-ms = < COMBO_TIMEOUT_2 >; };
    right_enter  { bindings = <&kp ENTER>; key-positions = <32 33>; timeout-ms = < COMBO_TIMEOUT_2 >; };
    right_enter2 { bindings = <&kp ENTER>; key-positions = <7  19>; timeout-ms = < COMBO_TIMEOUT_2 >; };
    right_bspc   { bindings = <&kp BACKSPACE>; key-positions = <8 19>; timeout-ms = < COMBO_TIMEOUT_2 >; };
    right_del    { bindings = <&kp DELETE>; key-positions = <8 21>; timeout-ms = < COMBO_TIMEOUT_2 >; };
    right_tab    { bindings = <&kp TAB>; key-positions = <7  8>; timeout-ms = < COMBO_TIMEOUT_2 >; };
    right_tab2   { bindings = <&kp TAB>; key-positions = <6 18>; timeout-ms = < COMBO_TIMEOUT_2 >; };

    copy_cut     { bindings = <&td_copy_cut>; key-positions = < 14 16 >; timeout-ms = < COMBO_TIMEOUT_2 >; };
    paste        { bindings = <&kp LG(V)>; key-positions = < 2 4 >; timeout-ms = < COMBO_TIMEOUT_2 >; };
    undo         { bindings = <&kp LG(Z)>; key-positions = < 13 16 >; timeout-ms = < COMBO_TIMEOUT_2 >; };
    redo         { bindings = <&kp LS(LG(Z))>; key-positions = < 1 4 >; timeout-ms = < COMBO_TIMEOUT_2 >; };

    to_rus       { bindings = <&rus>; key-positions = < 7 8 9 >; timeout-ms = < COMBO_TIMEOUT_2 >; };
    to_eng       { bindings = <&eng>; key-positions = < 2 3 4 >; timeout-ms = < COMBO_TIMEOUT_2 >; };
 };

macros {
    eng: eng { compatible = "zmk,behavior-macro";  #binding-cells = <0>; bindings = < &kp F18 &to 0 >; };
    rus: rus { compatible = "zmk,behavior-macro";  #binding-cells = <0>; bindings = < &kp F19 &to 1 >; };
    semi: semi { compatible = "zmk,behavior-macro"; tap-ms = <1>; wait-ms = <1>;  #binding-cells = <0>; bindings = < &kt_off LSHFT &kt_off RSHFT &kp SEMI >; };
    MOD_MACRO(alt_en, LALT)
    MOD_MACRO(gui_en, LGUI)
    MOD_MACRO(ctl_en, LCTRL)
    MOD_MACRO(shft,  LSHFT)
    // MOD_MACRO(f20,  F20)
    f21: f21 { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
        bindings =
            <&macro_press &mo QWE &kp F21 >,
            <&macro_pause_for_release>,
            <&macro_release &kp F21 &mo QWE >;
        };
};

behaviors {
    HOME_ROW_MOD_TAP_LEFT (lalt_en, &alt_en, balanced)
    HOME_ROW_MOD_TAP_LEFT (lgui_en, &gui_en, balanced)
    HOME_ROW_MOD_TAP_LEFT (lctl_en, &ctl_en, balanced)
    HOME_ROW_MOD_TAP_RIGHT(ralt_en, &alt_en, balanced)
    HOME_ROW_MOD_TAP_RIGHT(rgui_en, &gui_en, balanced)
    HOME_ROW_MOD_TAP_RIGHT(rctl_en, &ctl_en, balanced)

    HOME_ROW_MOD_TAP_LEFT(lshft, &shft, balanced)
    HOME_ROW_MOD_TAP_RIGHT(rshft, &shft, balanced)

    mol: homerow_layers_left {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        tapping-term-ms = < TAPPING_TERM >;
        quick-tap-ms = < QUICK_TAP_TERM >;
        // flavor = "tap-preferred";
        flavor = "balanced";
        bindings = <&mo>, <&kp>;
        hold-trigger-key-positions = < RIGHT_HALF THUMBS >;    // <---[[right-hand keys]]
    };
    mor: homerow_layers_right {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        tapping-term-ms = < TAPPING_TERM >;
        quick-tap-ms = < QUICK_TAP_TERM >;
        // flavor = "tap-preferred";
        flavor = "balanced";
        bindings = <&mo>, <&kp>;
        hold-trigger-key-positions = < LEFT_HALF THUMBS >;    // <---[[left-hand keys]]
    };

    kt_off: key_toggle_on_only {
        compatible = "zmk,behavior-key-toggle";
        #binding-cells = <1>;
        display-name = "Key Toggle Off";
        toggle-mode = "off";
    };

    td_copy_cut: tap_dance_copy_cut {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <300>;
        bindings = <&kp LG(C)>, <&kp LG(X)>;
    };

    rt: rt {
        compatible = "zmk,behavior-hold-tap";
        label = "retro-mod-tap";
        #binding-cells = <2>;
        flavor = "balanced";
        tapping-term-ms = < TAPPING_TERM >;
        quick-tap-ms = <200>;
        bindings = <&kp>, <&kp>;
        retro-tap;
    };

    comma: comma_semi {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp COMMA>, <&semi>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
        keep-mods = < 0 >;
    };
    dot: dot_colon {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp DOT>, <&kp COLON>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    qmark: qmark_excl {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp QMARK>, <&kp EXCL>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    comma_ru: comma_semi_ru {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp COMMA_RU>, <&kp LA(COMMA)>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    dot_ru: dot_colon_ru {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp DOT_RU>, <&kp LA(DOT)>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    semi_ru: semi_colon_ru {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp LS(N4)>, <&kp N6>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    sqt_ru: sqt_ru {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp LA(O)>, <&kp N2 >;
        mods = <(MOD_LSFT|MOD_RSFT)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    fslh_ru: fslh_ru {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp KP_DIVIDE>, <&kp N7 >;
        mods = <(MOD_LSFT|MOD_RSFT)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    ht: hold_tap {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        tapping-term-ms = <135>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
    };

    mo_f21: mo_f21 {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        tapping-term-ms = < TAPPING_TERM >;
        retro-tap;
        flavor = "hold-preferred";
        bindings = <&f21>, <&kp>;
    };
};
};

/ {
keymap { compatible = "zmk,keymap";

engram { bindings = <
_____         &kp B         hrlC(Y)       hrlA(O)       hrlG(U)       &kp SQT            &kp GRAVE     hrrG(L)          hrrA(D)         hrrC(W)         &kp V           &kp Z
_____         hrlS(C)       &mol EXT I    &kp E         &mol MYS A    &comma             &dot          &kp H            &kp T           &mor EXT S      hrrS(N)         &kp Q
_____         &kp G         &kp X         &kp J         &kp K         &kp BSLH           &qmark        &kp R            &kp M           &kp F           &kp P           _____
                                          &mo FUN       &lt NAV SPC          &lt EXT SPC               &mo_f21 0 SPC    &f21
>;};

rulemak { bindings = <
&kp JO_RU     &kp Q_RU      hrlC(V_RU)    hrlA(B_RU)    hrlG(P_RU)    &kp F_RU           &kp J_RU      hrrG(L_RU)       hrrA(U_RU)      hrrC(Y_RU)      &kp SH_RU       &kp SCH_RU
&kp CH_RU     hrlS(A_RU)    &kp R_RU      &kp S_RU      &kp T_RU      &kp G_RU           &kp M_RU      &kp N_RU         &kp E_RU        &kp I_RU        hrrS(O_RU)      &kp JE_RU
&fslh_ru      &kp Z_RU      &kp X_RU      &kp C_RU      &kp D_RU      &kp W_RU           &kp H_RU      &kp K_RU         &comma_ru       &dot_ru         &kp SOFT_RU     &kp HARD_RU
                                          &trans        &trans               &trans                    &trans           &trans
>;};

qwerty { bindings = <
_____         &kp Q         hrlC(W)       &kp E         &kp R         &kp T              &kp Y         &kp U            &kp I           hrrC(O)         &kp P           &kp LBKT
_____         hrlS(A)       &kp S         &kp D         &kp F         &kp G              &kp H         &kp J            &kp K           &kp L           hrrS(SEMI)      &kp SQT
_____         &kp Z         &kp X         &kp C         &kp V         &kp B              &kp N         &kp M            &kp COMMA       &kp DOT         &kp SLASH       &kp RBKT
                                          &trans        &trans               &trans                    &trans           &trans
>;};

extended { bindings = <
&kp LS(EQUAL) &kp LS(N1)    &kp LS(N2)    &kp LS(N3)    &kp LS(N4)    &kp LS(N5)         &kp LS(N6)    &kp LS(N7)       &kp LS(N8)      &kp LS(N9)      &kp LS(N0)    &kp LS(MINUS)
&kp EQUAL     hrlS(N1)      &kp N2        &kp N3        hrlS(N4)      &kp N5             &kp N6        hrrS(N7)         &kp N8          &kp N9          hrrS(N0)      &kp MINUS
_____         _____         &kp SQT       _____         _____         &kp NUHS           &kp NUBS      &kp TILDE        &kp FSLH        &kp LBKT        &kp RBKT      &kp BSLH
                                          &kp F20       &mo NAV             &rt LSHFT SPC              &mo FUN          &kp F20
>;};

navigation { bindings = <
&none         &kp C_EJECT   &none         &none         &none         &none              &kp PG_UP     &kp HOME         &kp UP          &kp END         &kp DEL         &none
&none         &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI      &kp K_APP          &kp PG_DN     &kp LEFT         &kp DOWN        &kp RIGHT       &kp BSPC        &none
&none         &none         &none         &none         &none         &none              &kp INS       &kp TAB          &none           &none           &none           &none
                                          &kp F20       &mo FUN             &lt EXT SPC                &none            &kp F20
>;};

function { bindings = <
&bt BT_SEL 0  &kp F9        &kp F10       &kp F11       &kp F12       &bt BT_SEL 3       &kp KP_NUM    &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK &kp CAPS        &none
&bt BT_SEL 1  &kp F1        &kp F2        &kp F3        &kp F4        &bt BT_SEL 4       &none         &kp LGUI         &kp LALT        &kp LCTRL       &kp LSHFT       &none
&bt BT_SEL 2  &kp F5        &kp F6        &kp F7        &kp F8        &bt BT_CLR         &sys_reset    &kp C_PLAY_PAUSE &kp C_VOL_DN    &kp C_VOL_UP    &kp C_MUTE      &bootloader
                                          &none         &none                   &none                  &none            &none
>;};

mice { bindings = <
&none         &kp C_EJECT   &kp LCTL      &kp LALT      &kp LGUI      _____              _____         &msc SCRL_UP     &mmv MOVE_UP    &msc SCRL_DOWN  _____           &none
&none         &kp LSHFT     &mkp MB1      &mkp MB2      &none         _____              _____         &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_RIGHT &mkp MB3        &none
&none         &none         &none         &none         &none         &none              _____         _____            &none           &none           &none           &none
                                          _____         &mkp MB1      &rt LSHFT SPC      &mkp MB2      _____
>;};

};};
